<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>

<div class="container">
    <h2>Student Management</h2>  <br><br>


    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Course</th>
            <th>Action</th>
        </tr>

        {% for s in students %}
        <tr>
            <td>{{ s[0] }}</td>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
            <td class="actions">
                <a href="/edit/{{ s[0] }}">Edit</a>
                <a href="/delete/{{ s[0] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table><br><br>


    <a href="/add" class="inline-btn">Add New Student</a>
</div>


</body>
</html>
