<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>

<div class="container">
    <h2>STUDENTS</h2>
    <a href="/add">+ Add Student</a>

    <div class="table-wrapper">
        <table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>COURSE</th>
                <th>ACTION</th>
            </tr>

            {% for s in students %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>
                    <a href="/delete/{{ s[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
</html>
